<h2>Statistics</h2>

<table class="table table-striped">
  <tr>
    <th></th>
    <% @keys.each do |key| %>
        <th><%= key %></th>
    <% end %>
  </tr>

  <% [2012, 2011, 2010].each do |year| %>
      <% @statistics.each do |statistic| %>
          <% if statistic.already_started(year) %>
              <tr align="center">
                <td><%= link_to statistic, statistic_path(statistic, :order => "credits_completed", :year => year) %></td>
                <% @keys.each do |key| %>
                    <td><%= statistic.aggregate(year)[key] %></td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
  <% end %>

</table>

<br/>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_statistic_path,
            :class => 'btn btn-primary' %>