<h1>Courses</h1>

<table class="table">
  <tr>
    <th></th>
    <th>completed</th>
    <th>failed</th>
  </tr>

  <% @courses.each do |course| %>
      <tr>
        <td><%= link_to "#{course.name} #{course.term}", course %></td>
        <td><%= course.students_completed.count %></td>
        <td><%= course.students_failed.count %></td>
      </tr>
  <% end %>
</table>

<p></p>

<%= link_to "create new course", new_course_url %>
