/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table {
    margin: 10px;
}

table, td, th {
    border: 1px solid #cccccc;
}

th {
    background-color: #cccccc;
}

div.container {
	overflow: hidden;
	width: 100%;
}

div.left {
    padding-top: 120px;
	width: 20%;
	float: left;
}

div.right {
	width: 80%;
	float: right;
}